.table_style {
    width: 500px;
    margin: 0px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr td {
    width: 50%;
    border: 1px solid #4e87dc;
    padding: 5px;
}

table tr th {
    border: 1px solid #080b95;
    padding: 5px;
}

.zebra {
    background-color: #7191c1;
}

.title {
    background-color: #3269bc;
}